<div class="row">
    @if(track) {
    <div class="col-sm-6 col-12">
        <!--Populates with track name-->
        <h1> {{ track.name }}</h1>
        <p>
            <!--Links to album page, displays album name-->
            Track on <a [routerLink]="['/album', track.album.id]"> {{ track.album.name }}</a>
        </p>
        <div>
            <!--Loops over track's artists-->
            @for(artist of track.artists; track artist) {
            <p>
                <!--Links to artist page, displays artist name-->
                Artist: <a [routerLink]="['/artist', artist.id]">{{ artist.name }}</a>
            </p>
            }
        </div>
        <p>
            <!--Populates with track duration-->
            Duration: {{ track.durationStr }}
        </p>
        <p>
            <!--Links to track page on spotify, displays track name-->
            <a class="btn btn-light" role="button" target="_blank" [href]="track.url">Open {{ track.name }} on Spotify</a>
        </p>
    </div>
    <div class="col-sm-6 col-12">
        <!--Creates a thermometer component with the track's popularity-->
        <app-thermometer [popularity]="track.popularity"></app-thermometer>
    </div>
    }
</div>